node_modules
.env
.env.*
.env*
*.env
*.env*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

.vscode/
.idea/
.DS_Store

artifacts/
.deps/
venv/
node_modules/
.venv/
cache/

.prettierignore.ci